.accounts{
    .flex-box{
        display: flex;
        gap: 16px;
        .left-box{
            width: 55%;
        }
        .right-box{
            width: 45%;
        }
        .four-box{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 12px;
            margin-bottom: 20px;
            .media{
                padding: 16px;
                border-radius: 15px;
                .icon-box{
                    background-color:#fffefe4d;
                    height: 55px;
                    width: 55px;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg{
                        height: 35px;
                        width: 35px;
       
                    }
                }
            }
        }
    }
    .tradingobjective-cards{
        display: flex;
        flex-wrap: wrap;
        .objective-graph {
            width: 25%;
        }
    }
}