@use '../../assets/scss/abstract/mixins' as *;

.dashboard-title{
    color: var(--text_black);
    font-size: 26px;
    font-weight: 600;
	font-weight: 600;
    @include media_1024{
       font-size: 16px;
    }
}
.theme_card{
    padding: 18px;
    border-radius: 8px;
    @include media_768{
        padding: 10px;
     }
}
.dahboard-header{
    margin-bottom: 30px;
    position: relative;
    .mobile-toggle{
        background-color: transparent;
        display: none;
        @include media_1024{
            display: block;
        }
    }
    .dropdown{
        background-color: white;
        right: 0;
        top: 75px;
        position: absolute;
        padding: 10px 20px;
        border-radius: 10px;
        width: 150px;
        ul{
            padding: 0;
            margin: 0;
            li{
                margin-bottom: 10px;
                &:last-child{
                    margin: 0;
                }
                a{
                    color: #000;
                    svg{
                        max-width: 20px;
                        path{
                            fill: #000;
                        }
                    }
                }
            }
        }
    }
    .profile{
        cursor: pointer;
        svg{
            fill: var(--text_black);
            path{
                fill: var(--text_black);
            }
        }
        img{
            height: 50px;
            width: 50px;
            border-radius: 100%;
            object-fit: cover;
            margin-bottom: 5px;
            @include media_1024{
                height: 40px;
                width: 40px;
            }
        }
    }
}