.dashboard-title{
    color: var(--color_white);
    font-size: 26px;
    font-weight: 600;
    font-family: "Dm-Sans";
	font-weight: 600;
}
.theme_card{
    padding: 18px;
    border-radius: 8px;
}
.dahboard-header{
    margin-bottom: 30px;
    position: relative;
    .dropdown{
        background-color: #fff;
        right: 0;
        top: 60px;
        position: absolute;
        padding: 10px 20px;
        border-radius: 10px;
        width: 150px;
        ul{
            padding: 0;
            margin: 0;
            li{
                margin-bottom: 10px;
                &:last-child{
                    margin: 0;
                }
                a{
                    color: #000;
                    svg{
                        max-width: 20px;
                        path{
                            fill: #000;
                        }
                    }
                }
            }
        }
    }
    .profile{
        cursor: pointer;
        svg{
            fill: #fff;
            path{
                fill: #fff;
            }
        }
        img{
            height: 50px;
            width: 50px;
            border-radius: 100%;
            object-fit: cover;
            margin-bottom: 5px;
        }
    }
}