.dashboard-title{
    color: var(--color_white);
    font-size: 30px;
    font-weight: 600;
    font-family: "Dm-Sans";
	font-weight: 600;
    margin-bottom: 30px;
}
.theme_card{
    padding: 18px;
    border-radius: 8px;
}