@use './about.scss';
@use './termscondition.scss';
@use './sidebar.scss';
@use './dashboard.scss';
@use './accounts.scss';



.common-banner{
    &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        background-color: rgba(49, 4, 59, 0.664);
        height: 100%;
        width: 100%;
    }
}