@use './abstract/mixins' as *;

.main-box {
  position: relative;
  height: 100%;
  display: flex;
  font-family: "Montserrat", sans-serif;
  // background-color: var(--bg_white);

  .sidebar-wrapped {
    @include media_1024 {
      display: none;
    }
  }

  main {
    color: var(--white_color);
    padding: 10px 30px 30px 30px;
    position: relative;
    background-color: #221c64;

    @include media_768 {
      padding: 10px;
    }

    &.width200 {
      width: calc(100% - 220px);

      @include media_1024 {
        width: 100%;
      }
    }

    &.width80 {
      width: calc(100% - 80px);

      @include media_1024 {
        width: 100%;
      }
    }
  }

  .toggle-button {
    position: fixed;
    left: 200px;
    top: 18px;
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;

    @include media_1024 {
      display: none;
    }

    svg {
      transform: rotate(-90deg);
      transition: transform 0.3s ease-in-out;

      path {
        fill: var(--white_color);
      }
    }

  }

  .ps-sidebar-container {
    border-radius: 0px 22px 22px 0px;
    background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%) border-box !important;

    // Custom scrollbar styles

    &::-webkit-scrollbar {
      width: 2px;
    }

    // Track
    &::-webkit-scrollbar-track {
      background: var(--Clarinet_01265D)
    }

    // Handle
    &::-webkit-scrollbar-thumb {
      background: #75869e10;
    }
  }

  .sidebarlogo {
    .animate-gradient {
      font-size: 50px;
      font-weight: 800;
      letter-spacing: -6px;
      font-family: system-ui;
    }
  }

  aside {
    height: 100vh;
    border: none;
    width: 220px;
    position: sticky;
    top: 0;

    &.ps-collapsed {
      .sidebarlogo {
        .animate-gradient {
          font-size: 30px;
        }
      }

      .name {
        display: none;
      }
    }
  }

  .sidebar-menus {
    .sidebar_icon_list {
      .ps-submenu-expand-icon {
        display: none;
      }

      ul {
        display: flex;
        flex-direction: column;

        li {
          .ps-menu-button {
            height: unset;
            padding: 8.5px 15px;
            transition: .3s;
            border-radius: 20px;
            margin: 15px 10px;
            width: 100%;

            &:hover {
              background-color: var(--theme-purple);

              .name {
                color: #fff;
              }

              svg {
                path {
                  fill: var(--white_color);
                }
              }
            }
          }

          &.active {
            .ps-menu-button {
              background-color: var(--theme-purple);

              .name {
                color: #fff;
              }

              svg {
                path {
                  fill: var(--white_color);
                }
              }
            }
          }
        }
      }
    }
  }

}

.sidebar-menus {
  .sidebar_icon_list {
    .icon {
      svg {
        height: 22px;
        width: 22px;

        path {
          fill: var(--theme-purple);
        }
      }
    }
  }

  .sidebarlogo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
    max-width: 65%;
    margin: auto;

    .name {
      margin-top: 15px;
    }
  }

  .sidebar_icon_list {
    .sidebar_label {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .submenus-items {
      padding-left: 10px;
    }

    .name {
      color: white; //var(--text_black);
      line-height: 20px;
      font-size: 16px;
      font-weight: 500;

      @include media_1024 {
        font-size: 14px;
      }

      a {
        color: var(--white_color);
      }
    }
  }
}