.terms-condition-tabs {


    nav {
        ul {
            li {
                justify-content: start;
                padding: 20px;
                border-radius: 10px;
                font-size: 16px;
            }

            .tabs-vertical [data-projection-id] {
                background-color: #dbeafe;
                /* bg-blue-100 */
                border-left: 4px solid #3b82f6;
                /* border-blue-500 */
                border-radius: 0.375rem;
                /* rounded-md */
                box-shadow: none;
                /* remove default shadow */
            }

        }
    }

    .tab-body {
        font-family: "outfit";
        h2 {
            font-family: "outfit";
            font-weight: 600;
        }
        ul {
            padding-left: 25px;

            li {
                list-style: number;
                font-size: 16px;
                font-family: "outfit";
                font-weight: 300;
                opacity: 0.8;
            }
        }
    }
}