.pricingtable .upper-box {
    border: 1px solid #8358ff;
    border-radius: 10px;
    padding: 20px 25px;
    display: flex;
    width: 70%;
    margin: auto;
    gap: 30px;

}

.pricingtable .upper-box .sub-box{
    width: 40%;
    border: 1px solid #8358ff;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pricingtable .upper-box .fund-info {
    width: 60%;
}
.pricingtable .upper-box .fund-info ul li{
    font-size: 18px;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}
.pricingtable .upper-box .fund-info ul li svg{
    display: inline;
    margin-right: 5px;
}