.pricingtable .upper-box {
    /* border: 1px solid #8358ff; */
    border-radius: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;

}

.pricingtable .upper-box .sub-box{
    width: 40%;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pricingtable .upper-box .fund-info {
    width: 33%;
    padding: 30px;
    /* border: 1px solid #8358ff; */
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    font-family: "Inter", sans-serif;

    
}
.pricingtable .upper-box .fund-info ul li{
    font-size: 16px;
    padding: 8px 0;
    /* border-bottom: 1px solid #ccc; */
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
}
.pricingtable .upper-box .fund-info ul li svg{
    display: inline;
    margin-right: 5px;
}
 .common-nav-header{
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  /* border:1px solid #8358ff; */
  border-radius: 10px;
  padding: 8px;
  /* background-color: #c380e52a; */
}












:root {
    --angle: 45deg;
    --opacity: 0.5;
  }

  
  .rainbow {
    border-radius: 20px;
    --border-size: 0.15rem;
    border: var(--border-size) solid transparent;
  
    /* Paint an image in the border */
    border-image: conic-gradient(
        from var(--angle),
        #d53e33 0deg 90deg,
        #fbb300 90deg 180deg,
        #377af5 180deg 270deg,
        #399953 270deg 360deg
      )
      1 stretch;
    /* background: rgb(255 255 255 / var(--opacity)); */
  }
  
  @property --opacity {
    syntax: "<number>";
    initial-value: 0.5;
    inherits: false;
  }
  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  @keyframes opacityChange {
    to {
      --opacity: 1;
    }
  }
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  .rainbow {
    animation: rotate 6s linear infinite, opacityChange 3s infinite alternate;
  }
  

  @media only screen and (max-width: 1280px){
    .pricingtable .upper-box .fund-info ul li{
      font-size: 14px;
    }
    .upper-box h2{
      font-size: 20px;
    }
    .upper-box h3{
      font-size: 16px;
    }
  }
  
    @media only screen and (max-width: 1024px){
      .pricingtable .upper-box{
        width: 100%;
        flex-wrap: wrap;
      }
      .pricingtable .upper-box .fund-info{
        width: calc(50% - 20px);
      }
    }
    @media only screen and (max-width: 768px){
      .pricingtable .upper-box .fund-info{
        width: 100%;
        padding: 15px;
      }
    }
  @media only screen and (min-width: 1920){
    .pricingtable .upper-box .fund-info ul li{
     font-size: 18px;
    }
  }