

:root {
    --theme-blue:#4679BD;
    --orange-color:#F68C1E;
    --green-color:#008000;
    --pink-color:#F44336;
    --light-blue:#DFE9F3;
    --light-blue-bg:#F3F8FF;
    --black-color:#000000;
    --color_647C9B:#647C9B;
    --white-color:#FFFFFF;
    --color_2D3748:#2D3748;
    --color_202224:#202224;
    --color_232D42:#232D42;
    --color_05004E:#05004E;
    // New Color
    --body_color:#F4F7F9;
    --color_FFBE7B:#FFBE7B;
}