.header {
  margin-bottom: 20px;
  
  .breadcrumbs {
    .breadcrumb-item {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #b0b0b0;
      font-size: 14px;
      
      &:last-child {
        color: white;
        font-weight: 500;
      }
    }
  }
}