@use '../../../assets/scss/abstract/mixins' as *;
.withdrawal-wrapped{
    .flex-box{
        display: flex;
        gap: 20px;
        @include media_768{
            flex-direction: column;
        }
        .left-side{
            width: 60%;
            @include media_768{
                width: 100%;
            }
        }
        .right-side{
            width: 40%;
            .withdraw-btn{
                @include media_768{
                    width: 100%;
                }
            }
            @include media_768{
                width: 100%;
            }
        }
        .payout{
            .theme_card {
                width: 100%;
                overflow-x: auto;
            }
            table{
                thead{
                    tr{
                        border-bottom: 1px solid #fff;
                        th{
                            padding: 12px;
                        }
                    }
                }
                tbody{
                    tr{
                        border-bottom: 1px solid #fff;
                        &:last-child{
                            border: none;
                        }
                    }
                    td{
                        text-align: center;
                        padding: 12px;
                        color: #ffffff;
                        font-weight: 300;
                        a{
                           display: flex;
                           justify-content: center;
                            svg{
                                height: 25px;
                                width: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}