@use '../../../assets/scss/abstract/mixins' as *;
.leaderboard-wrapped{
    .MuiTabPanel-root {
        padding: 20px 0;
    }
    .MuiTabs-list{
        button{
            color: #fff;
            @include media_576{
              padding: 10px;
              min-width: fit-content;
              font-size: 14px;
            }
            @include media_375{
              padding: 5px;
            }
        }
    }
    .data-table{
        width: 100%;
        overflow-x: auto;
        table{
          tbody{
            tr{
              border-bottom: 0.5px solid #cccccc9a;
              &:last-child{
                border: none;
              }
            }
            td{
              text-align: center;
              padding: 12px;
              color: #ffffffd0;
              @include media_576 {
                padding: 8px;
                font-size: 12px;
             }
              span{
                color: #ffffffd0;
              }
            }
          }
          thead{
            tr{
              border-bottom: 0.5px solid #cccccc9a;
            }
            th{ 
              text-align: center;
              padding: 12px;
              white-space: nowrap;
              @include media_576 {
                padding: 8px;
                font-size: 12px;
             }
            }
          }
        }
      }
}