@use '../../assets/scss/abstract/mixins' as *;

.profile-wrapped {
    .upload-image-wrapped {
        text-align: center;

        .image-upload-box {
            text-align: center;
            width: 100px;
            height: 100px;
            border: 2px dashed var(--text_black);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            text-align: center;
            margin-bottom: 8px;
            position: relative;
            margin-left: 20px;
            border-radius: 10px;
            svg{
                path{
                    fill: var(--text_black);
                }
            }
            // margin: auto;
            &.remove-boder {
                border: none;
            }

            .image-preview {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }

            .camera {
                width: 23px;
            }

            .camera-button {
                position: absolute;
                background-color: var(--orange-color);
                padding: 6px;
                right: -8px;
                border-radius: 5px;
                bottom: 0;

                svg {
                    path {
                        fill: var(--white-color);
                    }
                }
            }
        }

        .profile-label {
            font-weight: 500;
            font-size: var(--font_14);
        }
    }

    .tab-data {
        .tab-header {
            button {
                color: var(--text_black);

                @include media_768 {
                    font-size: 12px;
                    padding: 10px;
                }

                &.Mui-selected {
                    color: #8257fe;
                }
            }

            .MuiTabs-indicator {
                background-color: #8257fe;
            }
        }

    }

    .add-user-form {
        width: 80%;

        @include media_768 {
            width: 100%;
        }

        &.change-password {
            width: 50%;
        }

        .two-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;

            @include media_768 {
                grid-template-columns: repeat(1, 1fr);
                gap: 10px;
            }
        }

        .input-main-data {
            margin-bottom: 20px;

            .eyeicon {
                position: absolute;
                right: 10px;
                top: 50%;
                cursor: pointer;
                background-color: transparent;
            }
        }
    }
}