/* src/index.css */
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@layer utilities {
  .visible {
    visibility: visible;
  }
  .invisible {
    visibility: hidden;
  }
}
@font-face {
	font-family: "Dm-Sans";
	src: url("../fonts/DM_Sans/DMSans-Regular.ttf");
	font-weight: 400;
}
@font-face {
  font-family: "CalSans-SemiBold";
  src: url("../fonts/CalSans-SemiBold.woff") format("woff"),
    url("../fonts/CalSans-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

/* DM Sans Regular */
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/* DM Sans Italic */
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

/* DM Sans Medium */
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

/* DM Sans Bold */
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/* DM Sans Bold Italic */
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@layer utilities {
  .text-fill-transparent {
    -webkit-text-fill-color: transparent;
  }
}

.font-display {
    font-family: CalSans-SemiBold, sans-serif;
}
/* clears the ‘X’ from Internet Explorer */

html[dir="rtl"] .-translate-x-1\/2 {
  --tw-translate-x: 50%;
}

html[dir="rtl"] .hover\:translate-x-1:hover {
  --tw-translate-x: -0.25rem;
}
.bg-gradient{
  /* background: linear-gradient(to right, #f8e1e7, #e3effd, #f5f9f6); */
  background: linear-gradient(to right, #f8e1e7, #e3effd, #f5f9f6);
}
.pricing-table .scrollbar-custom .tab-button{
  border-radius: 5px;
}
.pricing-table .scrollbar-custom .tab-button.active{
  background-color: rgb(131 88 255 / var(--tw-text-opacity));
  border: none;
  color: #fff;
}
.pricing-table .scrollbar-custom .tab-button.active::after{
  content: none;
}
.home-cards{
  box-shadow: 4px 4px 10px 0px #73717157;
}
.hover-text-white{
  transition: .3s;
}
.hover-text-white:hover h3{
color: #fff;
}
.hero .four-cards .pink:hover svg {
  fill: #ff59e2;
}
.hero .four-cards .blue:hover svg {
  fill: #52ddf6;
}
.hero .four-cards .orange:hover svg {
  fill: #ff7356;
}
.hero .four-cards .accent:hover svg {
  fill: #8358FF;
}


  









.btn-epic {
  position: relative;
  transform: translate3d(0px, 0%, 0px);
  overflow: hidden;
}

.btn-epic:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #551a8b;
  border-radius: 50% 50% 0 0;
  transform: translateY(100%) scaleY(0.5);
  transition: all 0.6s ease;
}

.btn-epic:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  transform: translateY(0) scaleY(1);
  transition: all 0.6s ease;
}

.btn-epic div {
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  height:35px;
  overflow: hidden;
}

.btn-epic span {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transition: transform 0.5s ease;
}

.btn-epic span:first-child {
  transform: translateY(40px);
}

.btn-epic span:last-child {
  transform: translateY(0);
}

.btn-epic:hover {
  background: #551a8b;
  transition: background 0.2s linear;
  transition-delay: 0.6s;
}

.btn-epic:hover:after {
  border-radius: 0 0 50% 50%;
  transform: translateY(-100%) scaleY(0.5);
  transition-delay: 0;
}

.btn-epic:hover:before {
  border-radius: 0;
  transform: translateY(0) scaleY(1);
  transition-delay: 0;
}

.btn-epic:hover span:first-child {
  transform: translateY(0);
}

.btn-epic:hover span:last-child {
  transform: translateY(-24px);
}



.logo-text{
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -5px;
}

.main-cards{
  transition: .5s ease-in;
}

.why-choose-us{
  background: linear-gradient(to right, #f8e1e7, #e3effd, #f5f9f6)
}
.why-choose-us:is(.dark .dark\:bg-jacarta-900){
  background: rgb(13 16 45/1)
}
.why-choose-us table th,td{
  color: oklch(0.551 0.027 264.364);
}

.hero-main{
  height: 100vh;
  background-color: #31043b;
  z-index: 0;
}

.hero-main h1{
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 40px;
}
.hero-main .main-cards{
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px 20px 20px;
  background: #fff;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.hero-main .main-cards .home-cards {
  box-shadow: 4px 4px 10px 0 #73717157;
  position: absolute;
  top: 0px;
}
.hero-main .main-cards:first-child{
  box-shadow: 0 6px 0 0 #590054;
}
.hero-main .main-cards:first-child:hover{
  background-color: #590054;
}
.hero-main .main-cards:nth-child(2){
  box-shadow: 0 6px 0 0 #016764;
}
.hero-main .main-cards:nth-child(2):hover{
  background-color: #016764;
}
.hero-main .main-cards:nth-child(3){
  box-shadow: 0 6px 0 0 #450077;
}
.hero-main .main-cards:nth-child(3):hover{
  background-color: #450077;
}
.hero-main .main-cards:nth-child(4){
  box-shadow: 0 6px 0 0 #130F41;
}
.hero-main .main-cards:nth-child(4):hover{
  background-color: #130F41;
}
.hero-main .main-cards h3{
  font-size: 20px;
}
.hero-main .main-cards p{
  font-size: 16px;
}
.hero-main .home-actions{
  margin-bottom: 80px;
}
.slider-section{
  background: linear-gradient(to bottom, #1a031f, rgba(255, 255, 255, 0.444));
  position: relative;
  padding-bottom: 50px;
}
.slider-section:is(.dark .dark\:bg-jacarta-900){
  background: rgb(13 16 45/1);
}
.slider-section::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 200px;
  /* background: white; */
  clip-path: ellipse(100% 100px at 50% 0%);

}




.dark-for-header .main-header ul li a{
  color: #fff;
}
.dark-for-header .main-header ul li a.dark-text{
    color: rgb(19 23 64/1);
  }
  .dark-for-header .main-header ul li a:is(.dark .dark\:text-white){
    color: #FFF!important;
  }
.termconditions ul li{
  margin: 0!important;
  color: rgb(90 93 121/1);
}
.termconditions .terms-content{
  width: 75%;
}
.termconditions .terms-content h2{
  margin-top: 2.5rem!important;
  margin-bottom: 0.5rem;
  font-family: CalSans-SemiBold,sans-serif;
  --tw-text-opacity: 1;
  color: rgb(19 23 64/var(--tw-text-opacity))
}
.termconditions .terms-content h3{
  margin: 10px 0;
}
.termconditions .terms-content ul{
  padding-left: 30px;
}

.about-us .three-img img{
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 20px;
}

.about-us .three-img .image {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1920px){
  .hero-main h1{
    font-size: 100px;
    line-height: 120px;
  }
  .hero-main .hero-text{
    max-width: 100%;
  }
  .hero-main .home-actions{
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 1280px){
  .hero-main h1{
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .hero-main .hero-text{
    padding-top: 20px;
  }
  .hero-main .btn-epic{
    height: 45px;
    padding: 15px;
  }
  .hero-main .btn-epic div{
    height: 30px;
  }
  .hero-main .btn-epic span{
  font-size: 16px;    
  top: -6px;
  }
  .hero-main .four-cards{
    max-width: 65%;
  }
  .hero-main .main-cards{
    height: 110px;
    padding: 40px 10px 10px 10px;
  }
  .hero-main .main-cards h3{
    font-size: 16px;
  }
  .hero-main .main-cards p{
    font-size: 14px;
  }
  .hero-main .home-actions{
    margin-bottom:80px;
  }
}

@media only screen and (max-width: 1024px){
  .hero-main .four-cards{
    max-width: 100%;
  }

}

@media only screen and (max-width: 576px){
  
}
