@use '../../../assets/scss/abstract/mixins' as *;

.accounts-overview-wrapped{
    .filters{
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        gap: 30px;
        .select-mui-vs{
            svg{
                path{
                    stroke: #fff;
                }
            }
        }
    }
    .data-table{
        table{
          tbody{
            tr{
              border-bottom: 0.5px solid #cccccc9a;
              &:last-child{
                border: none;
              }
            }
            td{
              text-align: center;
              padding: 12px;
            }
          }
          thead{
            tr{
              border-bottom: 0.5px solid #cccccc9a;
            }
            th{
              text-align: center;
              padding: 12px;
            }
          }
        }
      }
    .card-content{
        width: 70%;
        padding: 20px;
        @include media_768{
            width: 100%;
        }
        .icon{
            svg{
                height: 50px;
                width: 50px;
            }
        }
    }
}