@use '../../../assets/scss/abstract/mixins' as *;

.accounts-overview-wrapped {
  .input-main-data {
    &.select-mui-vs {
      .MuiOutlinedInput-root {
        width: 200px;

        @include media_768 {
          width: 130px;
        }
      }
    }
  }

  .overview {
    .funded-content {
      h4 {
        font-size: 14px;
      }
    }
  }

  .filters {
    padding: 15px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 10px;

    @include media_768 {
      gap: 10px;
    }

    .select-mui-vs {
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }

  .data-table {

    width: 100%;
    overflow-x: auto;

    table {

      tbody {
        tr {
          border-bottom: 0.5px solid #cccccc9a;

          &:last-child {
            border: none;
          }
        }

        td {
          text-align: center;
          padding: 12px;
          color: var(--color-white);
          font-size: 14px;
        }
      }

      thead {
        tr {
          border-bottom: 0.5px solid #cccccc9a;
        }

        th {
          text-align: center;
          padding: 12px;
        }
      }
    }
  }

  .card-container {
    display: flex;
    gap: 20px;

    @include media_768 {
      flex-direction: column;
    }

    .card-content {
      width: calc(33% - 10px);
      padding: 20px;
      box-shadow: 0 3px 5px 0px #2a17174e;

      @include media_768 {
        width: 100%;
      }

      .overview {
        margin-bottom: 20px;
      }

      .text-content {
        h3 {
          font-size: 18px;
        }

        h4 {
          font-size: 16px;
        }
      }

      .btn {
        .purple_bordered {
          width: 100%;
        }

        @include media_768 {
          width: 100%;
        }
      }

      @include media_768 {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }

      .icon {
        svg {
          height: 50px;
          width: 50px;

          @include media_768 {
            height: 40px;
            width: 40px;
          }
        }
      }
    }
  }
}